@page "/scheduleDisplay"
@using Data
<h3>FinalDisplay</h3>

@inject NavigationManager NavigationManager

@if(!currentDisplay.stillUnderMax){
    <RadzenAlert AlertStyle="AlertStyle.Info" ShowIcon="false" Variant="Variant.Flat" Shade="Shade.Lighter" AllowClose="false" >
    <RadzenText>Over a thousand schedules found, ended early to save memory. For more specific schedules, add more required period placements</RadzenText>
    <RadzenButton Click="@goToUpdate">Edit class-placement Preferences</RadzenButton>
    
</RadzenAlert>
}

@if(currentScheduleDisplay!=null){
        <RadzenText >Total Preference Power: @currentScheduleDisplay.possibleSchoolSchedule.totalSchedulePoints</RadzenText>
}




<RadzenText>Teacher Schedules</RadzenText>
<RadzenDataGrid Data="currentScheduleDisplay.possibleSchoolSchedule.allTeacherSchedules" TItem="TeacherSchedule" IsLoading="@isLoading">
    <Columns>
        <RadzenDataGridColumn Title="Name" TItem="TeacherSchedule" Property="teacher.name"/>
        
        <RadzenDataGridColumn Title="Period 0" TItem="TeacherSchedule">
            <Template Context="data">
                @if(data.periods[0]==null){
                    <p style="white-space:pre-wrap">@emptyPeriodMsg</p>
                }else{
                    <p style="white-space:pre-wrap">@data.periods[0].course.name</p>
                    
                }
                
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Title="Period 1" TItem="TeacherSchedule">
            <Template Context="data">
                @if (data.periods[1] == null)
                {
                    <p style="white-space:pre-wrap">@emptyPeriodMsg</p>
                }
                else
                {
                    <p style="white-space:pre-wrap">@data.periods[1].course.name</p>

                }
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Title="Period 2" TItem="TeacherSchedule">
            <Template Context="data">
               @if(data.periods[2]==null){
                    <p style="white-space:pre-wrap">@emptyPeriodMsg</p>
                }else{
                    <p style="white-space:pre-wrap">@data.periods[2].course.name</p>
                    
                }
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Title="Period 3" TItem="TeacherSchedule">
            <Template Context="data">
                @if(data.periods[3]==null){
                    <p style="white-space:pre-wrap">@emptyPeriodMsg</p>
                }else{
                    <p style="white-space:pre-wrap">@data.periods[3].course.name</p>
                    
                }
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Title="Period 4" TItem="TeacherSchedule">
            <Template Context="data">
                @if(data.periods[4]==null){
                    <p style="white-space:pre-wrap">@emptyPeriodMsg</p>
                }else{
                    <p style="white-space:pre-wrap">@data.periods[4].course.name</p>
                    
                }
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Title="Period 5" TItem="TeacherSchedule">
            <Template Context="data">
                @if (data.periods[5] == null)
                {
                    <p style="white-space:pre-wrap">@emptyPeriodMsg</p>
                }
                else
                {
                    <p style="white-space:pre-wrap">@data.periods[5].course.name</p>

                }
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Title="Period 6" TItem="TeacherSchedule">
            <Template Context="data">
                @if (data.periods[6] == null)
                {
                    <p style="white-space:pre-wrap">@emptyPeriodMsg</p>
                }
                else
                {
                    <p style="white-space:pre-wrap">@data.periods[6].course.name</p>

                }
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Title="Period 7" TItem="TeacherSchedule">
            <Template Context="data">
                @if(data.periods[7]==null){
                    <p style="white-space:pre-wrap">@emptyPeriodMsg</p>
                }else{
                    <p style="white-space:pre-wrap">@data.periods[7].course.name</p>
                    
                }
            </Template>
        </RadzenDataGridColumn>
        


        
    </Columns>
</RadzenDataGrid>


<RadzenText>Student Schedules</RadzenText>
<RadzenDataGrid Data="currentScheduleDisplay.studentSchedules" TItem="DataSorter.studentScheduleOptions" IsLoading="@isLoading">
    <Columns>
        <RadzenDataGridColumn Title="Name" Width="80px" TItem="DataSorter.studentScheduleOptions" Property="student.name" />

        <RadzenDataGridColumn Title="Possible Schedules" TItem="DataSorter.studentScheduleOptions">
            
            <Template Context="data">
                <RadzenDataGrid Data=@data.possibleSchedules TItem="StudentSchedule">
                    <Columns>
                        <RadzenDataGridColumn TItem="StudentSchedule" Title="Total Failed Electives" Property="numElectivesFailed"/>

                       <RadzenDataGridColumn Title="Period 0" TItem="StudentSchedule">
                           <Template Context="studentData">
                                @if(studentData.periods[0]==null){
                                    <p style="white-space:pre-wrap">@emptyStudentMsg</p>
                                }else{
                                    <p style="white-space:pre-wrap">@studentData.periods[0].teacher.name: @studentData.periods[0].course.name</p>
                    
                                }
                           </Template>
                       </RadzenDataGridColumn>

                        <RadzenDataGridColumn Title="Period 1" TItem="StudentSchedule">
                            <Template Context="studentData">
                                @if (studentData.periods[1] == null)
                                {
                                    <p style="white-space:pre-wrap">@emptyStudentMsg</p>
                                }
                                else
                                {
                                    <p style="white-space:pre-wrap">@studentData.periods[1].teacher.name: @studentData.periods[1].course.name</p>

                                }
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Title="Period 2" TItem="StudentSchedule">
                            <Template Context="studentData">
                                @if (studentData.periods[2] == null)
                                {
                                    <p style="white-space:pre-wrap">@emptyStudentMsg</p>
                                }
                                else
                                {
                                    <p style="white-space:pre-wrap">@studentData.periods[2].teacher.name: @studentData.periods[2].course.name</p>

                                }
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Title="Period 3" TItem="StudentSchedule">
                            <Template Context="studentData">
                                @if (studentData.periods[3] == null)
                                {
                                    <p style="white-space:pre-wrap">@emptyStudentMsg</p>
                                }
                                else
                                {
                                    <p style="white-space:pre-wrap">@studentData.periods[3].teacher.name: @studentData.periods[3].course.name</p>

                                }
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Title="Period 4" TItem="StudentSchedule">
                            <Template Context="studentData">
                                @if (studentData.periods[4] == null)
                                {
                                    <p style="white-space:pre-wrap">@emptyStudentMsg</p>
                                }
                                else
                                {
                                    <p style="white-space:pre-wrap">@studentData.periods[4].teacher.name: @studentData.periods[4].course.name</p>

                                }
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Title="Period 5" TItem="StudentSchedule">
                            <Template Context="studentData">
                                @if (studentData.periods[5] == null)
                                {
                                    <p style="white-space:pre-wrap">@emptyStudentMsg</p>
                                }
                                else
                                {
                                    <p style="white-space:pre-wrap">@studentData.periods[5].teacher.name: @studentData.periods[5].course.name</p>

                                }
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Title="Period 6" TItem="StudentSchedule">
                            <Template Context="studentData">
                                @if (studentData.periods[6] == null)
                                {
                                    <p style="white-space:pre-wrap">@emptyStudentMsg</p>
                                }
                                else
                                {
                                    <p style="white-space:pre-wrap">@studentData.periods[6].teacher.name: @studentData.periods[6].course.name</p>

                                }
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Title="Period 7" TItem="StudentSchedule">
                            <Template Context="studentData">
                                @if (studentData.periods[7] == null)
                                {
                                    <p style="white-space:pre-wrap">@emptyStudentMsg</p>
                                }
                                else
                                {
                                    <p style="white-space:pre-wrap">@studentData.periods[7].teacher.name: @studentData.periods[7].course.name</p>

                                }
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>

                </RadzenDataGrid>
               

            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>




<RadzenPager ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" HorizontalAlign="HorizontalAlign.Right" PageSize="1" Count="count" PageChanged="@PageChanged" />

@code {

    


    public DataSorter currentDisplay;

    string emptyPeriodMsg = "Empty or Non-IB Class";
    string emptyStudentMsg = "Add Elective or Empty";

    string pagingSummaryFormat = "Displaying page {0} of {2}";
    int count=0;

    bool isLoading = true;
    public DataSorter.possibleGroupSchedule currentScheduleDisplay;

    public void goToUpdate(){
        NavigationManager.NavigateTo("updateClassPref");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        isLoading = true;

        InputStudents.isDoneComputing = false;

        currentDisplay = new DataSorter(DataHolder.allTeachers,DataHolder.allClasses,DataHolder.allCourses,DataHolder.allClassesPreferences,DataHolder.allStudents);

        new Thread(new ParameterizedThreadStart(currentDisplay.setAllPossibleIndividualTeacherSchedules)).Start(new object[1] { 10 });


        while (!InputStudents.isDoneComputing)
        {
            
          //  InputStudents.console.ReLoad();
            
            Thread.Sleep(1000);
        }
        

        count = currentDisplay.finalSchedules.Count;
        if(currentDisplay.finalSchedules.Count!=0){
            PageChanged(new PagerEventArgs
                {
                    PageIndex = 0
                });

        }else{
            //failure
        }

        isLoading = false;
    }

    void PageChanged(PagerEventArgs args)
    {
        currentScheduleDisplay = currentDisplay.finalSchedules[args.PageIndex];
    }

}
